<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short.ly</title>
</head>
<body>
    <h1>URL shortener</h1>
    <%  if(locals.id ) { %>
        <h4> Url is : <%=id %> </h4>
    <% } %>


    <div>
        <form method = "post" action="/url">
            <label> Enter your Original URL </label>
            <input type="text" name = "url" placeholder="https://example.com" >
            <button type = "submit" >Generate </button>
        </form>
    </div>
    <div>
        <%  if ( locals.urls ) {%>
        <table>
            <thead>
                <tr>
                <th> Sr. No.</th>
                <th> Short ID </th>
                <th> Redirect</th>
                <th> Clicks</th>
            </tr>
            </thead>
            <tbody>
                <% urls.forEach((url , index) => { %>
                <tr> 
                    <td><%= index +1 %></td>
                    <td><%=url.shortId %></td>
                    <td><%= url.redirectUrl %></td>
                    <td><%= url.visitHistory.length %></td>
                </tr>
                <% } )%>

            </tbody>
        </table>
        <% } %>
    </div>
    
</body>
</html>
